<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.gcs.mapper.PatientDOMapper" >
  <resultMap id="BaseResultMap" type="com.zju.gcs.model.PatientDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="height" property="height" jdbcType="DOUBLE" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="doctor_id" property="doctorId" jdbcType="INTEGER" />
    <result column="chief" property="chief" jdbcType="VARCHAR" />
    <result column="medical_history" property="medicalHistory" jdbcType="VARCHAR" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="diesease_id" property="dieseaseId" jdbcType="INTEGER" />
  </resultMap>
    <resultMap id="getPatientMap" type="com.zju.gcs.model.GetpatientDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TINYINT" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="height" property="height" jdbcType="DOUBLE" />
        <result column="weight" property="weight" jdbcType="DOUBLE" />
        <result column="department" property="department" jdbcType="VARCHAR" />
        <result column="doctorName" property="doctorName" jdbcType="VARCHAR" />
        <result column="doctorId" property="doctorId" jdbcType="INTEGER" />
        <result column="chief" property="chief" jdbcType="VARCHAR" />
        <result column="medicalHistory" property="medicalHistory" jdbcType="VARCHAR" />
        <result column="opinion" property="opinion" jdbcType="VARCHAR" />
        <result column="createAt" property="createAt" jdbcType="DATE" />
        <result column="disease" property="disease" jdbcType="VARCHAR" />
    </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, gender, birthday, height, weight, department, doctor_id, chief, medical_history, 
    opinion, diesease_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zju.gcs.model.PatientDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patient
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patient
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zju.gcs.model.PatientDOExample" >
    delete from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zju.gcs.model.PatientDO" >
    insert into patient (id, name, gender, 
      birthday, height, weight, 
      department, doctor_id, chief, 
      medical_history, opinion, diesease_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{birthday,jdbcType=DATE}, #{height,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, 
      #{department,jdbcType=VARCHAR}, #{doctorId,jdbcType=INTEGER}, #{chief,jdbcType=VARCHAR}, 
      #{medicalHistory,jdbcType=VARCHAR}, #{opinion,jdbcType=VARCHAR}, #{dieseaseId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zju.gcs.model.PatientDO" >
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="chief != null" >
        chief,
      </if>
      <if test="medicalHistory != null" >
        medical_history,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="dieseaseId != null" >
        diesease_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        #{chief,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null" >
        #{medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="dieseaseId != null" >
        #{dieseaseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zju.gcs.model.PatientDOExample" resultType="java.lang.Integer" >
    select count(*) from patient
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByParams" parameterType="com.zju.gcs.vo.GetPatientVO" resultMap="getPatientMap">
    select p.id as id ,p.name as name,p.gender as gender,p.birthday as birthday ,p.height as height,
    p.weight as weight,p.department as department,doc.name as doctorName,p.doctor_id as doctorId,
    p.chief as chief, p.medical_history as medicalHistory, p.opinion as opinion,
    r.created_at as createAt, dis.name as disease
    from patient p
    left join doctor doc on p.doctor_id = doc.id
    left join record r on p.id = r.patient_id
    left join disease dis on p.diesease_id = dis.id
    <where>
      <if test="patientId != null">
        and p.id = #{patientId,jdbcType=INTEGER}
      </if>
      <if test="patientName != null">
        and p.name = #{patientName,jdbcType=VARCHAR }
      </if>
      <if test="doctorId != null">
        and p.doctor_id = #{doctorId,jdbcType=INTEGER }
      </if>
      <if test="doctorName != null">
        and doc.name = #{doctorName,jdbcType=VARCHAR }
      </if>
      <if test="diseaseId != null">
        and  p.dieseaseId = #{diseaseId,jdbcType=VARCHAR }
      </if>
    </where>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update patient
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=DOUBLE},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.chief != null" >
        chief = #{record.chief,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalHistory != null" >
        medical_history = #{record.medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.opinion != null" >
        opinion = #{record.opinion,jdbcType=VARCHAR},
      </if>
      <if test="record.dieseaseId != null" >
        diesease_id = #{record.dieseaseId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update patient
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=TINYINT},
      birthday = #{record.birthday,jdbcType=DATE},
      height = #{record.height,jdbcType=DOUBLE},
      weight = #{record.weight,jdbcType=DOUBLE},
      department = #{record.department,jdbcType=VARCHAR},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      chief = #{record.chief,jdbcType=VARCHAR},
      medical_history = #{record.medicalHistory,jdbcType=VARCHAR},
      opinion = #{record.opinion,jdbcType=VARCHAR},
      diesease_id = #{record.dieseaseId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zju.gcs.model.PatientDO" >
    update patient
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        chief = #{chief,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null" >
        medical_history = #{medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="dieseaseId != null" >
        diesease_id = #{dieseaseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.gcs.model.PatientDO" >
    update patient
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      height = #{height,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      department = #{department,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      chief = #{chief,jdbcType=VARCHAR},
      medical_history = #{medicalHistory,jdbcType=VARCHAR},
      opinion = #{opinion,jdbcType=VARCHAR},
      diesease_id = #{dieseaseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>