<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zju.gcs.mapper.RecordDOMapper" >
  <resultMap id="BaseResultMap" type="com.zju.gcs.model.RecordDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="chief" property="chief" jdbcType="VARCHAR" />
    <result column="medical_history" property="medicalHistory" jdbcType="VARCHAR" />
    <result column="infra_before_path" property="infraBeforePath" jdbcType="VARCHAR" />
    <result column="infra_after_path" property="infraAfterPath" jdbcType="VARCHAR" />
    <result column="infra_before_desc" property="infraBeforeDesc" jdbcType="VARCHAR" />
    <result column="infra_after_desc" property="infraAfterDesc" jdbcType="VARCHAR" />
    <result column="infra_before_excp" property="infraBeforeExcp" jdbcType="VARCHAR" />
    <result column="infra_after_excp" property="infraAfterExcp" jdbcType="VARCHAR" />
    <result column="medication_before" property="medicationBefore" jdbcType="VARCHAR" />
    <result column="medication_after" property="medicationAfter" jdbcType="VARCHAR" />
    <result column="time_before" property="timeBefore" jdbcType="TIMESTAMP" />
    <result column="time_after" property="timeAfter" jdbcType="TIMESTAMP" />
    <result column="time_middle" property="timeMiddle" jdbcType="TIMESTAMP" />
    <result column="treat" property="treat" jdbcType="VARCHAR" />
    <result column="treat_detail" property="treatDetail" jdbcType="VARCHAR" />
    <result column="treat_count" property="treatCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="HistoryResultMap" type="com.zju.gcs.model.HistoryRecordDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="patientId" property="patientId" jdbcType="INTEGER" />
    <result column="chief" property="chief" jdbcType="VARCHAR" />
    <result column="medicalHistory" property="medicalHistory" jdbcType="VARCHAR" />
    <result column="infraBeforePath" property="infraBeforePath" jdbcType="VARCHAR" />
    <result column="infraAfterPath" property="infraAfterPath" jdbcType="VARCHAR" />
    <result column="infraBeforeDesc" property="infraBeforeDesc" jdbcType="VARCHAR" />
    <result column="infraAfterDesc" property="infraAfterDesc" jdbcType="VARCHAR" />
    <result column="infraBeforeExcp" property="infraBeforeExcp" jdbcType="VARCHAR" />
    <result column="infraAfterExcp" property="infraAfterExcp" jdbcType="VARCHAR" />
    <result column="medicationBefore" property="medicationBefore" jdbcType="VARCHAR" />
    <result column="medicationAfter" property="medicationAfter" jdbcType="VARCHAR" />
    <result column="timeBefore" property="timeBefore" jdbcType="TIMESTAMP" />
    <result column="timeAfter" property="timeAfter" jdbcType="TIMESTAMP" />
    <result column="timeMiddle" property="timeMiddle" jdbcType="TIMESTAMP" />
    <result column="treat" property="treat" jdbcType="VARCHAR" />
    <result column="treatDetail" property="treatDetail" jdbcType="VARCHAR" />
    <result column="treatCount" property="treatCount" jdbcType="INTEGER" />
    <result column="neckAreaBefore" property="neckAreaBefore" jdbcType="VARCHAR" />
    <result column="neckAreaAfter" property="neckAreaAfter" jdbcType="VARCHAR" />
    <result column="classificationBefore" property="classificationBefore" jdbcType="INTEGER" />
    <result column="classificationAfter" property="classificationAfter" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, created_at, patient_id, chief, medical_history, infra_before_path, infra_after_path, 
    infra_before_desc, infra_after_desc, infra_before_excp, infra_after_excp, medication_before, 
    medication_after, time_before, time_after, time_middle, treat, treat_detail, treat_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zju.gcs.model.RecordDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectHistoryRecords" resultMap="HistoryResultMap" parameterType="com.zju.gcs.vo.HistoryRecordsVO" >
    select r.id as id, r.created_at as createdAt, r.patient_id as patientId, r.chief as chief,
    r.medical_history as medicalHistory, r.infra_before_path as infraBeforePath, r.infra_after_path as infraAfterPath,
    r.infra_before_txt_path as infraBeforeTxtPath, infra_after_txt_path as infraAfterTxtPath,
    r.infra_before_desc as infraBeforeDesc, r.infra_after_desc as infraAfterDesc, r.infra_before_excp as infraBeforeExcp,
    r.infra_after_excp as infraAfterExcp, r.medication_before as medicationBefore, r.medication_after as medicationAfter,
    r.time_before as timeBefore, r.time_after as timeAfter, r.time_middle as timeMiddle, r.treat as treat,
    r.treat_detail as treatDetail, r.treat_count as treatCount, a.neck_area_before as neckAreaBefore ,
    a.neck_area_after as neckAreaAfter, a.classification_before as classificationBefore,
    a.classification_after as classificationAfter
    from record r
    left join analysis a on r.patient_id = a.patient_id and r.treat_count = a.treat_count
    where r.patient_id = #{patientId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zju.gcs.model.RecordDOExample" >
    delete from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zju.gcs.model.RecordDO" >
    insert into record (id, created_at, patient_id, 
      chief, medical_history, infra_before_path, 
      infra_after_path, infra_before_desc, infra_after_desc, 
      infra_before_excp, infra_after_excp, medication_before, 
      medication_after, time_before, time_after, 
      time_middle, treat, treat_detail, 
      treat_count)
    values (#{id,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{patientId,jdbcType=INTEGER}, 
      #{chief,jdbcType=VARCHAR}, #{medicalHistory,jdbcType=VARCHAR}, #{infraBeforePath,jdbcType=VARCHAR}, 
      #{infraAfterPath,jdbcType=VARCHAR}, #{infraBeforeDesc,jdbcType=VARCHAR}, #{infraAfterDesc,jdbcType=VARCHAR}, 
      #{infraBeforeExcp,jdbcType=VARCHAR}, #{infraAfterExcp,jdbcType=VARCHAR}, #{medicationBefore,jdbcType=VARCHAR}, 
      #{medicationAfter,jdbcType=VARCHAR}, #{timeBefore,jdbcType=TIMESTAMP}, #{timeAfter,jdbcType=TIMESTAMP}, 
      #{timeMiddle,jdbcType=TIMESTAMP}, #{treat,jdbcType=VARCHAR}, #{treatDetail,jdbcType=VARCHAR}, 
      #{treatCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zju.gcs.model.RecordDO" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="chief != null" >
        chief,
      </if>
      <if test="medicalHistory != null" >
        medical_history,
      </if>
      <if test="infraBeforePath != null" >
        infra_before_path,
      </if>
      <if test="infraBeforeTxtPath != null" >
        infra_before_txt_path,
      </if>
      <if test="infraAfterTxtPath != null" >
        infra_after_txt_path,
      </if>
      <if test="infraAfterPath != null" >
        infra_after_path,
      </if>
      <if test="infraBeforeDesc != null" >
        infra_before_desc,
      </if>
      <if test="infraAfterDesc != null" >
        infra_after_desc,
      </if>
      <if test="infraBeforeExcp != null" >
        infra_before_excp,
      </if>
      <if test="infraAfterExcp != null" >
        infra_after_excp,
      </if>
      <if test="medicationBefore != null" >
        medication_before,
      </if>
      <if test="medicationAfter != null" >
        medication_after,
      </if>
      <if test="timeBefore != null" >
        time_before,
      </if>
      <if test="timeAfter != null" >
        time_after,
      </if>
      <if test="timeMiddle != null" >
        time_middle,
      </if>
      <if test="treat != null" >
        treat,
      </if>
      <if test="treatDetail != null" >
        treat_detail,
      </if>
      <if test="treatCount != null" >
        treat_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        #{chief,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null" >
        #{medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforePath != null" >
        #{infraBeforePath,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforeTxtPath != null" >
        #{infraBeforeTxtPath,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterTxtPath != null" >
        #{infraAfterTxtPath,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterPath != null" >
        #{infraAfterPath,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforeDesc != null" >
        #{infraBeforeDesc,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterDesc != null" >
        #{infraAfterDesc,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforeExcp != null" >
        #{infraBeforeExcp,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterExcp != null" >
        #{infraAfterExcp,jdbcType=VARCHAR},
      </if>
      <if test="medicationBefore != null" >
        #{medicationBefore,jdbcType=VARCHAR},
      </if>
      <if test="medicationAfter != null" >
        #{medicationAfter,jdbcType=VARCHAR},
      </if>
      <if test="timeBefore != null" >
        #{timeBefore,jdbcType=TIMESTAMP},
      </if>
      <if test="timeAfter != null" >
        #{timeAfter,jdbcType=TIMESTAMP},
      </if>
      <if test="timeMiddle != null" >
        #{timeMiddle,jdbcType=TIMESTAMP},
      </if>
      <if test="treat != null" >
        #{treat,jdbcType=VARCHAR},
      </if>
      <if test="treatDetail != null" >
        #{treatDetail,jdbcType=VARCHAR},
      </if>
      <if test="treatCount != null" >
        #{treatCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zju.gcs.model.RecordDOExample" resultType="java.lang.Integer" >
    select count(*) from record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=INTEGER},
      </if>
      <if test="record.chief != null" >
        chief = #{record.chief,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalHistory != null" >
        medical_history = #{record.medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.infraBeforePath != null" >
        infra_before_path = #{record.infraBeforePath,jdbcType=VARCHAR},
      </if>
      <if test="record.infraAfterPath != null" >
        infra_after_path = #{record.infraAfterPath,jdbcType=VARCHAR},
      </if>
      <if test="record.infraBeforeDesc != null" >
        infra_before_desc = #{record.infraBeforeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.infraAfterDesc != null" >
        infra_after_desc = #{record.infraAfterDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.infraBeforeExcp != null" >
        infra_before_excp = #{record.infraBeforeExcp,jdbcType=VARCHAR},
      </if>
      <if test="record.infraAfterExcp != null" >
        infra_after_excp = #{record.infraAfterExcp,jdbcType=VARCHAR},
      </if>
      <if test="record.medicationBefore != null" >
        medication_before = #{record.medicationBefore,jdbcType=VARCHAR},
      </if>
      <if test="record.medicationAfter != null" >
        medication_after = #{record.medicationAfter,jdbcType=VARCHAR},
      </if>
      <if test="record.timeBefore != null" >
        time_before = #{record.timeBefore,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeAfter != null" >
        time_after = #{record.timeAfter,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeMiddle != null" >
        time_middle = #{record.timeMiddle,jdbcType=TIMESTAMP},
      </if>
      <if test="record.treat != null" >
        treat = #{record.treat,jdbcType=VARCHAR},
      </if>
      <if test="record.treatDetail != null" >
        treat_detail = #{record.treatDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.treatCount != null" >
        treat_count = #{record.treatCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update record
    set id = #{record.id,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      patient_id = #{record.patientId,jdbcType=INTEGER},
      chief = #{record.chief,jdbcType=VARCHAR},
      medical_history = #{record.medicalHistory,jdbcType=VARCHAR},
      infra_before_path = #{record.infraBeforePath,jdbcType=VARCHAR},
      infra_after_path = #{record.infraAfterPath,jdbcType=VARCHAR},
      infra_before_desc = #{record.infraBeforeDesc,jdbcType=VARCHAR},
      infra_after_desc = #{record.infraAfterDesc,jdbcType=VARCHAR},
      infra_before_excp = #{record.infraBeforeExcp,jdbcType=VARCHAR},
      infra_after_excp = #{record.infraAfterExcp,jdbcType=VARCHAR},
      medication_before = #{record.medicationBefore,jdbcType=VARCHAR},
      medication_after = #{record.medicationAfter,jdbcType=VARCHAR},
      time_before = #{record.timeBefore,jdbcType=TIMESTAMP},
      time_after = #{record.timeAfter,jdbcType=TIMESTAMP},
      time_middle = #{record.timeMiddle,jdbcType=TIMESTAMP},
      treat = #{record.treat,jdbcType=VARCHAR},
      treat_detail = #{record.treatDetail,jdbcType=VARCHAR},
      treat_count = #{record.treatCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zju.gcs.model.RecordDO" >
    update record
    <set >
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        chief = #{chief,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null" >
        medical_history = #{medicalHistory,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforePath != null" >
        infra_before_path = #{infraBeforePath,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterPath != null" >
        infra_after_path = #{infraAfterPath,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforeDesc != null" >
        infra_before_desc = #{infraBeforeDesc,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterDesc != null" >
        infra_after_desc = #{infraAfterDesc,jdbcType=VARCHAR},
      </if>
      <if test="infraBeforeExcp != null" >
        infra_before_excp = #{infraBeforeExcp,jdbcType=VARCHAR},
      </if>
      <if test="infraAfterExcp != null" >
        infra_after_excp = #{infraAfterExcp,jdbcType=VARCHAR},
      </if>
      <if test="medicationBefore != null" >
        medication_before = #{medicationBefore,jdbcType=VARCHAR},
      </if>
      <if test="medicationAfter != null" >
        medication_after = #{medicationAfter,jdbcType=VARCHAR},
      </if>
      <if test="timeBefore != null" >
        time_before = #{timeBefore,jdbcType=TIMESTAMP},
      </if>
      <if test="timeAfter != null" >
        time_after = #{timeAfter,jdbcType=TIMESTAMP},
      </if>
      <if test="timeMiddle != null" >
        time_middle = #{timeMiddle,jdbcType=TIMESTAMP},
      </if>
      <if test="treat != null" >
        treat = #{treat,jdbcType=VARCHAR},
      </if>
      <if test="treatDetail != null" >
        treat_detail = #{treatDetail,jdbcType=VARCHAR},
      </if>
      <if test="treatCount != null" >
        treat_count = #{treatCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.gcs.model.RecordDO" >
    update record
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
      patient_id = #{patientId,jdbcType=INTEGER},
      chief = #{chief,jdbcType=VARCHAR},
      medical_history = #{medicalHistory,jdbcType=VARCHAR},
      infra_before_path = #{infraBeforePath,jdbcType=VARCHAR},
      infra_after_path = #{infraAfterPath,jdbcType=VARCHAR},
      infra_before_desc = #{infraBeforeDesc,jdbcType=VARCHAR},
      infra_after_desc = #{infraAfterDesc,jdbcType=VARCHAR},
      infra_before_excp = #{infraBeforeExcp,jdbcType=VARCHAR},
      infra_after_excp = #{infraAfterExcp,jdbcType=VARCHAR},
      medication_before = #{medicationBefore,jdbcType=VARCHAR},
      medication_after = #{medicationAfter,jdbcType=VARCHAR},
      time_before = #{timeBefore,jdbcType=TIMESTAMP},
      time_after = #{timeAfter,jdbcType=TIMESTAMP},
      time_middle = #{timeMiddle,jdbcType=TIMESTAMP},
      treat = #{treat,jdbcType=VARCHAR},
      treat_detail = #{treatDetail,jdbcType=VARCHAR},
      treat_count = #{treatCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>